body {
  /*можно лучше через normalize.css, это общепринятый сброс*/
  margin: 0;
  background-color: #B2DFDB;

  /*моя IDE настаивает на альтернативном шрифте,
  т.е. корректнее при использовании шрифтов писать*/
  /*так - font-family: Tahoma, sans-serif;
  маловероятно что тахома шрифт не окажется у юзера, но это де факто стандартная практика
  */

  font-family: Tahoma;
}

.card__wrapper {
  margin: 20px auto;
  overflow-y: hidden;
  /*эта запись ломает адаптивность, здесь логичнее max-width,*/
  /*потому что есть экраны куда меньше 660px (например 393px у pixel5)
  ниже тоже самое для .card*/
  width: 660px;
  padding: 20px;
}

.card {
  position: relative;
  width: 600px;
  padding: 20px 30px;
  box-shadow: 0 5px 10px #004d40;
  border-radius: 15px;
  background-color: #fff;
  animation: card 2s 1 ease-in-out;
}

@keyframes card {
  from {
    overflow: hidden;
    top: 1000px;
  }
  to {
    top: 0px;
  }
}

/*лучше через класс, вообще всю вёрстку принято писать через классы*/
/*чтобы не оверрайдить ничего лишнего, потому что чем больше будет становиться*/
/*проект, тем вероятнее что вёрстка по тегам станет первым местом к рефакторингу*/
/*из-за их частого применения, header может существовать у любого блока на сайте, у которого есть шапка*/
header {
  font-size: 2.2em;
  text-align: center;
  color: #004d40;
  margin-bottom: 24px;
  font-weight: bold;
}

.card__photo {
  width: 150px;
  border: 5px solid #B2DFDB;
  margin-right: 32px;
}

.card__info {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  flex-grow: 1;
  margin: 0 0 0 20px;

  /*в этом блоке что-то странное по margin, */
  /*первый можно просто margin: 5px*/
  /*но он не имеет смысла потому что ниже будет */
  /*margin-left: 20px*/
}

.card__fio{
  margin: 50px 0;
  font-size: x-large;
}

.card__description {
  margin-top: 20px;
  text-align: justify;
  line-height: 25px;
}

/*height здесь лишний, либо min-height либо max-height,*/
/*именно контент определяет высоту блока, это редкое поведение в вёрстке с фиксированной высотой,*/
/*у тебя картинка определяет высоту блока*/
.card__top-container {
  display: flex;
  height: 200px;
}

.card__item {
  line-height: 2.1;
  margin-top: 20px;
}

.card__description_item {
  display: flex;
}

.card__item_left {
  flex: 1 1 30%;
  font-weight: bold;
  background-color: #e0f7fa;  
  padding: 5px 10px;
  text-align: left;
}

.card__item_right {
  flex: 1 1 70%;
  background-color: azure;
  padding: 5px 10px;
}

/*в более общем случае лучше через класс .link,*/
/*потому что рано или поздно встретится не чёрная ссылка,*/
/*если проект чуть сложнее чем просто резюме*/
a {
  color: #000;
}